<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contributeurs</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-camera-retro wow fadeIn text-primary"></i>
                    <h3>Charles Ollion</h3>
                    <p class="text-muted">Formation en école d’ingénieur et thèse à Paris 6 en Machine Learning <br/>
                      Fondateur et CTO à <a href=https://www.heuritech.com/>Heuritech</a> depuis 2013. En parallèle,
                      Enseignant en <a href=https://m2dsupsdlclass.github.io/lectures-labs/>Deep Learning</a> au M2 Data Science de
                      Paris Saclay.<br/>
                      Spécialiste en data science, vision, algorithmique, informatique.<br/>
                      Il s’engage dans des projets ayant une vraie composante sociale et environnementale.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow fadeIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Sylvain Le Corff</h3>
                    <p class="text-muted">BIO</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-ship wow fadeIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Pierre Gloaguen</h3>
                    <p class="text-muted">BIO</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bicycle wow fadeIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Claude Perdigou</h3>
                    <p class="text-muted">BIO</p>
                </div>
            </div>
        </div>
    </div>
</section>
