<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contributeurs</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-ship wow fadeIn text-primary" data-wow-delay=".2s"></i>
          <h3>Pierre Gloaguen</h3>
          <p class="text-muted text-justify">Enseignant chercheur en Statistique à l'école d'ingénieur Agroparistech. Il enseigne des cours d'apprentissage statistique et de sciences des données en vue d'applications en sciences expérimentales, notamment les sciences de l'environnement, l'agronomie, et l'écologie.<br/>
            Ses travaux de recherche se consacrent à l'implémentation d'algorithmes adaptés au traitement de données en écologie, et notamment au suivi des animaux par GPS. Depuis Janvier 2020, il co-anime le réseau Statistics for Citizen Sciences (CisStats), regroupant des chercheurs et des associatifs dans le but de mieux valoriser les jeux de données issus des sciences participatives.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-paper-plane wow fadeIn text-primary" data-wow-delay=".1s"></i>
          <h3>Sylvain Le Corff</h3>
          <p class="text-muted text-justify">Ingénieur (2009) et docteur en statistiques et probabilités appliquées (2012) de Télécom Paris.<br/>
            Chargé de recherche au CNRS à partir de 2013 au Laboratoire de Mathématiques d'Orsay, puis professeur de statistiques à l'Ecole Polytechnique (depuis 2015) et à Télécom SudParis (depuis 2018).<br/>
            <a href=https://sylvainlc.github.io/>Sylvain</a> est spécialiste des outils probabilistes et numériques pour la modélisation et l'estimation  des séries temporelles partiellement observées. Il conçoit le travail au sein de CAMLEON comme une excellente opportunité d'utiliser ses compétences pour promouvoir et participer à des projets visant à la compréhension et à la préservation de l'environnement.
          </p>
        </div>
      </div>

    </div>
    
    <div class="row">
      <div class="col-lg-6 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-camera-retro wow fadeIn text-primary"></i>
          <h3>Charles Ollion</h3>
          <p class="text-muted text-justify">Formation en école d’ingénieur et thèse à Paris 6 en Machine Learning <br/>
            Fondateur et CTO à <a href=https://www.heuritech.com/>Heuritech</a> depuis 2013. En parallèle,
            Enseignant en <a href=https://m2dsupsdlclass.github.io/lectures-labs/>Deep Learning</a> au M2 Data Science de
            Paris Saclay.<br/>
            Spécialiste en data science, vision, algorithmique, informatique.<br/>
            Il s’engage dans des projets ayant une vraie composante sociale et environnementale.
          </p>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-bicycle wow fadeIn text-primary" data-wow-delay=".3s"></i>
          <h3>Claude Perdigou</h3>
          <p class="text-muted text-justify">Physicien de formation et docteur en mécanique des solides.<br/>
            Chef de produit chez <a href=https://www.dataiku.com/>Dataiku</a> depuis 2016.
            Spécialiste en mécanique (low-tech) et systèmes d'informations, ma passion est d'accompagner des projets technologiques qui ont du sens pour notre planète.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
