<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
              <a href="{{baseurl}}/projets/surfrider.html" class="portfolio-box">
                    <img src="{{baseurl}}/img/projets/plage.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                écologie
                            </div>
                            <div class="project-name">
                                Surfrider
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="{{baseurl}}/projets/animaux.html" class="portfolio-box">
                    <img src="{{baseurl}}/img/projets/otarie.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                écologie
                            </div>
                            <div class="project-name">
                                Déplacement de populations proies/prédateurs
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="{{baseurl}}/projets/thermique.html" class="portfolio-box">
                    <img src="{{baseurl}}/img/projets/maison.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                écologie
                            </div>
                            <div class="project-name">
                                Étude thermique de bâtiments
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
